* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* Gradient chéo từ xanh cyan sang tím hồng giống ảnh */
    background: #f4f4f4;
    min-height: 100vh;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Header */

.main-header {
    background: #ffffff;
    height: 70px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-box {
    width: 35px;
    height: 35px;
    background: #b5966d;
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.brand span {
    font-size: 20px;
    font-weight: 800;
    color: #b5966d;
    letter-spacing: 0.5px;
}


/* Content */
.auth-login-container {
    margin-top: auto;
    background: #fff;
    width: 400px;
    padding: 60px 50px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    min-height: 700px;
}

.auth-login-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #1a1a1a;
}

.auth-input-group {
    padding: auto;

}

.auth-input-group label {
    font-size: 14px;
    color: #888;
    display: block;
}

.auth-input-with-icon {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #eeeeee;
}

/* Icon giả lập (User/Lock) */
.auth-input-with-icon::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    opacity: 0.5;
}

.auth-input-with-icon input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 5px 10px 30px;
    font-size: 15px;
    color: #1a1a1a;
}

.forgot-pass {
    text-align: right;
    margin-top: 8px;
}

.forgot-pass a {
    text-decoration: none;
    color: #888;
    font-size: 13px;
    transition: 0.2s;
}

.forgot-pass a:hover {
    text-decoration: underline;
    color: #b5966d;
}

/* Nút Login với Gradient */
.btn-login {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 25px;

    background: #b5966d;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 30px;
    transition: 0.4s;
}

.btn-login:hover {
    background: #61605f;
}

/* Social Login Section */

.social-section {
    margin-top: 20px;
}

.social-section p.divider-text {
    font-size: 14px;
    color: #bbb;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-section p.divider-text::before,
.social-section p.divider-text::after {
    content: "";
    flex: 0.15;
    height: 1px;
    background: #eee;
    margin: 0 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.social-btn.google-btn {
    width: 100%;
    max-width: 280px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 25px;

    color: #1a1a1a;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.social-btn.google-btn:hover {
    background-color: #fafafa;
    border-color: #b5966d;
}

.social-btn.google-btn img {
    width: 18px;
}


.signup-section p {
    font-size: 14px;
    color: #888;
    text-align: center;
}

.signup-section a {
    color: #b5966d;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    transition: 0.3s;
}

.signup-section a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.signup-footer {
    margin-top: 25px;
    text-align: center;
}

.signup-footer p {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.btn-login-outline {
    display: inline-block;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;

    background: transparent;
    border: 1px solid #b5966d;
    border-radius: 25px;
    color: #1a1a1a;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login-outline:hover {
    background: #b5966d;
    color: #fff;
}