* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; 
}

body {
    background: #f4f4f4; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: #fff;
    width: 400px;
    padding: 60px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05); 
    min-height: 700px;
}

.login-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #1a1a1a; 
}

.input-group {
    margin-bottom: 25px;
    padding: auto;
}

.input-group label {
    font-size: 14px;
    color: #888; 
    margin-bottom: 10px;
    display: block;
}

.input-with-icon {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #eeeeee; 
}

.input-with-icon::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    opacity: 0.5;
}

.input-with-icon input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 5px 10px 30px;
    font-size: 15px;
    color: #1a1a1a;
}

.forgot-pass {
    text-align: right;
    margin-top: 8px;
}
    
.forgot-pass a {
    text-decoration: none; 
    color: #888; 
    font-size: 13px;
    transition: 0.2s; 
}

.forgot-pass a:hover {
    text-decoration: underline;
    color: #b5966d; 
}


.btn-login {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 25px;
   
    background: #b5966d; 
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 30px;
    transition: 0.4s;
}

.btn-login:hover {
    background: #61605f; 
}


.social-section{
    margin-top: 20px;
}

.social-section p.divider-text {
    font-size: 14px;
    color: #bbb;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-section p.divider-text::before, 
.social-section p.divider-text::after {
    content: "";
    flex: 0.15; 
    height: 1px;
    background: #eee; 
    margin: 0 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.social-btn.google-btn {
    width: 100%;
    max-width: 280px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #ffffff;
    border: 1px solid #eeeeee; 
    border-radius: 25px;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social-btn.google-btn:hover {
    background-color: #fafafa;
    border-color: #b5966d;
}

.signup-section p {
    font-size: 14px;
    color: #888;
    text-align: center;
}

.signup-section a {
    
    color: #b5966d; 
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    transition: 0.3s;
}

.signup-footer {
    margin-top: 25px;
    text-align: center;
}

.signup-footer p {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px; 
}


.btn-login-outline {
    display: inline-block;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
   
    background: transparent;
    border: 1px solid #b5966d;
    border-radius: 25px;
    color: #1a1a1a;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login-outline:hover {
    background: #b5966d;
    color: #fff;
}

.reset-password .login-container {
    min-height: 450px;      
     
}



/* Custom Email Style cho trang xác nhận */
.email-template {
    width: 500px !important; 
    padding: 0 !important;   
    min-height: auto !important;
    overflow: hidden;
    text-align: left; 
}

.email-header {
    background: #b5966d; 
    padding: 30px 20px;
    color: white;
    text-align: center;
}


.email-header h2 {
    display: inline-block;
    font-size: 22px;
    margin-bottom: 5px;
}

.email-header p {
    font-size: 13px;
    opacity: 0.9;
}


.email-body {
    padding: 30px 40px;
}

.email-body p {
    font-size: 14px;
    color: #444;
    margin-bottom: 15px;
    line-height: 1.6;
}

.center-btn {
    text-align: center;
    margin: 30px 0;
}

.btn-email-action {
    background-color: #b5966d;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.btn-email-action:hover {
    background: #61605f;
}

.warning-box {
    background-color: #fffbe6;
    border: 1px solid #ffe58f;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.warning-box p {
    margin-bottom: 0;
    font-size: 13px;
    color: #856404;
}


.fallback-link {
    font-size: 12px;
    color: #888;
    margin-top: 20px;
}

.link-text {
    background: #f4f4f4;
    padding: 10px;
    word-break: break-all; 
    border-radius: 4px;
    margin-top: 5px;
}

.safety-note {
    text-align: center;
    font-style: italic;
    color: #999 !important;
    margin-top: 25px;
}


.email-footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #eee;
}

.email-footer p {
    font-size: 11px;
    color: #999;
    margin-bottom: 5px;
}